body {
  font-family: Source Sans Pro, sans-serif;
  background: #f3f3f3 url(https://www.ic2s2.org/assets/css/images/overlay.png);
  margin: 0;
  padding: 0;
}

#pageTitle {
  font-size: 15pt;
    display: block;
    text-align: center;
}


.grid {
  position: relative;
  width: 3800px;
}


.container {
  height: 100%;
  position: sticky;
  left: 0;
  width: 90vw;
  display: flex; 
  justify-content: left; /* aligns horizontally */
  align-items: left; /* aligns vertically */
  flex-direction: column; /* stacks child elements vertically */
}

.title_container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 20px;

}

.day-selector {
    display: flex;
    align-items: left;
    padding-left: 20px;
    padding-top: 7px;
}

.search-bar {
    display: flex;
    align-items: left;
    padding-left: 20px;
    padding-top: 10px;
}

#schedule {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 50px;

}



#schedule th,
#schedule td {
  border: 1px solid #d3d3d3;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 70px; /* Adjust the value as per your requirements */

}

#schedule th:first-child,
#schedule td:first-child,
#schedule th:first-child td {
  border: none;
  width: 90px; /* Adjust the value as per your requirements */
}

#schedule th {
  border-top: none;
  border-left: none;
   border-right: none;
}

.time-slot {
  transform: rotate(-90deg);
  border: none;
  transform-origin: bottom left;
  text-align: left;
  transform: translate(+20%, +40%) rotate(-90deg);
}


.session-empty {
  background-color: #FFFFFF;
}

.session {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
}


.clickable-session .session-title{
  text-decoration: underline;

}

.clickable-session:hover {
  /* Define your hover styles here */
  background-color: #E0E0E0; /* Change the background color on hover */
  cursor: pointer; /* Add this line to change the mouse cursor */
}

.session .session-content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.session-title {
  font-weight: bold;
}

.presentations-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left; /* Add this line to align the list items to the left */
  font-size: 12px; /* Adjust the font size as desired */

}
.presentation-item {
  display: flex;
  align-items: left;
}

.presentation-time {
  font-weight: bold;
  width: 40px; /* Set the desired width for the presentation span */
}

.presentation-content {
  display: flex;
  flex-direction: column;
  width: 400px; /* Set the desired width for the presentation span */

}

.presentation-title {
  margin-bottom: 0;
  align-items:left;
}

.presenter-name {
  font-style: italic;
  color: gray;
  margin-bottom: 5px;
}



label {
  font-weight: bold;
  margin-right: 10px;
}

select, input[type="text"], button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
.table-container {
    margin-top: 50px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black overlay with 60% opacity */
  overflow: auto;
}

.modal-content {
  display: block;
  margin: 20px auto;
  max-width: 70%;
  max-height: 70%;

}

#modalImage {
  max-width: 70%;
  max-height: 70%;
  background-color: white;
}

#modalClose {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 54px; /* Adjust the font size as desired */
  color: black; /* Change the color to your desired close button color */
  cursor: pointer;
}

.additional-info a {
  color: #007bff; /* Change the color to your desired link color */
  text-decoration: underline;
  cursor: pointer;
}

.additional-info a:hover {
  color: #0056b3; /* Change the color to your desired hover color */
}

.room {
  color: #007bff; /* Change the color to your desired link color */
  text-decoration: underline;
  cursor: pointer;
}

.room:hover {
  color: #0056b3; /* Change the color to your desired hover color */
}

.content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr; /* This will give 3/4th width to your schedule and 1/4th to your additional info. */
    gap: 20px; /* This will provide space between your schedule and additional info */
}

#schedule-wrapper {
    /* no width required */
}

.additional-info {
   max-width:250%;
   min-width:500px;
   max-height:120px;
   background: #ffeec0;
   padding:10px;
   margin:10px;
   border-radius: 10px;
   float:  left;
   clear: left;
   padding-left: 10px;
}

@media only screen and (max-width: 600px) {



.modal-content {
  display: block;
  margin: 20px auto;
  width: 90vw; /* 90% of viewport width */
}

#modalImage {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
}
  .day-selector, .search-bar {
    margin: 10px 0;
  }

  label {
    margin-bottom: 5px;
  }

  select, input[type="text"], button {
    padding: 8px;
    font-size: 12px;
  }
}

